<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCc67743s-y4iLZVbn1SkjGAtPNMri-O-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>58377131613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>www.felipe.com.MessageCursoViewCode</string>
	<key>PROJECT_ID</key>
	<string>messageviewcode-4ae76</string>
	<key>STORAGE_BUCKET</key>
	<string>messageviewcode-4ae76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58377131613:ios:48f1ab9c86125481b31fb4</string>
</dict>
</plist>